{% extends "base.html" %}


{% block content %}
    <p><strong>Title: </strong>{{ question.title }}</p>
    <p><strong>Description: </strong>{{ question.description }}</p>
    <p><strong>Type: </strong>
        {% if question.type == 1 %}
        Single Choice
        {% else %}
        Multiple Choice
        {% endif %}
    </p>
    <div class="d-flex align-content-around flex-wrap">
        {% for variant in variants %}
            {% include "votings/variant_card.html" %}
        {% empty %}
            <p>No variants...</p>
        {% endfor %}
    </div>
    <br>
    <a class="btn btn-success" href="{% url 'create_variants' id=question.id %}">Add variant</a>
    <div class="text-end my-3">
    <a class="btn btn-primary" href="{% url 'voting' id=question.voting.id %}">Save</a>
    </div>
{% endblock %}