{% extends "base.html" %}


{% block content %}
    {% if not voting.published %}
        <p class="fs-4"><strong>Title: </strong>{{ voting.title }}</p>
        <div>
            <p>Questions:</p>
            {% for question in questions %}
                <a href="{% url 'question' id=question.id %}">{{ question.title }}</a>
            {% empty %}
                <p>Empty...</p>
            {% endfor %}
            <br>
            <a class="btn btn-success" href="{% url 'create_questions' id=voting.id %}">Add question</a>
        </div>
        <div class="my-3 text-end">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Publish</button>
        </div>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Warning</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p><a href="{% url 'publish_voting' id=voting.id %}" class="btn btn-success">Publish</a></p>
          </div>
        </div>
    {% else %}
        <h1 class="text-center">{{ voting.title }}</h1>
    {% endif %}
{% endblock %}