{% extends "base.html" %}

{% block content %}
    {% load custom_filters %}
    {% if not voting.published %}
        <p class="fs-4"><strong>Title: </strong>{{ voting.title }}</p>
        <div>
            <p>Questions:</p>
            <div class="d-flex align-content-around flex-wrap">
                {% for question in questions %}
                    {% include "votings/question_card.html" %}
                {% empty %}
                    <p>Empty...</p>
                {% endfor %}
            </div>
            <br>
            <a class="btn btn-success" href="{% url 'create_questions' id=voting.id %}">Add question</a>
        </div>
        <div class="my-3 text-end">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Publish
            </button>
        </div>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
             id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p><a href="{% url 'publish_voting' id=voting.id %}" class="btn btn-success">Publish</a></p>
            </div>
        </div>
    {% else %}
        <h1 class="text-center">{{ voting.title }}</h1>
        <p class="text-end">Author: <a class="text-decoration-none"
                                       href="{% url 'profile' id=voting.author.id %}">{{ voting.author }}</a>
            <br>
            <a href="{% url 'create_complaint' id=voting.id %}">Complain</a></p>
        <p>Questions:</p>
        {% if voted == False %}
            <form method="POST">
                {% csrf_token %}
                <div>
                    {% for question in questions %}
                        <p class="fs-3 fw-medium">{{ question.title }}</p>
                        <p class="fs-5">{{ question.description }}</p>
                        {% if question.type == 1 %}
                            {% include "votings/single_choice.html" %}
                        {% else %}
                            {% include "votings/multiple_choice.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
                <input class="btn btn-success" type="submit" value="Vote">
            </form>
        {% else %}
            {% include "votings/results.html" %}
        {% endif %}
    {% endif %}
    <div class="d-flex justify-content-between py-3">
        <button id="like_btn" class="btn btn-outline-success">Like <span
                id="likes_count">{{ voting.get_likes_count }}</span></button>
        <a class="btn btn-outline-secondary" href="{% url 'list_votings' %}">Votings list</a>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        async function like() {
            var likes_count = document.getElementById('likes_count')
            var count = parseInt(likes_count.innerText)
            likes_count.innerText = (count + 1).toString()

            const options = {
                method: 'GET',
            }
            let response = await fetch('{{ BASE_URL }}{% url 'like' id=voting.id %}', options)
            var data = await response.json()
            console.log(data)
            if (response.status === 404) {
                return
            }

            var button = document.getElementById('like_btn')
            button.removeEventListener('click', like, false)
            button.classList.remove('btn-outline-success')
            button.classList.add('btn-success')
            button.addEventListener('click', un_like, false)
        }

        async function un_like() {
            var likes_count = document.getElementById('likes_count')
            var count = parseInt(likes_count.innerText)
            likes_count.innerText = (count - 1).toString()

            const options = {
                method: 'GET',
            }
            let response = await fetch('{{ BASE_URL }}{% url 'like' id=voting.id %}', options)
            var data = await response.json()
            console.log(data)
            if (response.status === 404) {
                return
            }

            var button = document.getElementById('like_btn')
            button.removeEventListener('click', un_like, false)
            button.classList.remove('btn-success')
            button.classList.add('btn-outline-success')
            button.addEventListener('click', like, false)
        }

        var button = document.getElementById('like_btn')
        if ({{ voting|is_user_liked:request.user }}) {
            console.log('liked')
            button.classList.remove('btn-outline-success')
            button.classList.add('btn-success')
            button.addEventListener('click', un_like, false)
        } else {
            button.addEventListener('click', like, false)
        }
    </script>
{% endblock %}